<div class="container">
  <app-navbar></app-navbar>

  <mat-toolbar>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select [(ngModel)]="status" name="status" (selectionChange)="getPets()">
        @for (item of statusList; track item) {
        <mat-option [value]="item">{{item}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    @if (isAdmin) {<button matButton (click)="handleClickAdd()">Add</button>}
  </mat-toolbar>

  @if (loadingGetAll) {
  <div style="width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center">
    <mat-spinner></mat-spinner>
  </div>
  }
  @else {
  <mat-grid-list cols="5" gutterSize="10px">
    @for (item of pets; track $index) {
    <mat-grid-tile>
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>{{item.name}}</mat-card-title>
          @if(item.category){
          <mat-card-subtitle>{{item.category.name}}</mat-card-subtitle>
          }
        </mat-card-header>
        @if (item.photoUrls && item.photoUrls.length > 0) {
        <img mat-card-image src="{{item.photoUrls[0]}}" alt="{{item.name}}-img">
        }

        <mat-card-content>
          <mat-chip-set aria-label="Fish selection">
            @for (tag of item.tags; track $index) {
            <mat-chip>{{tag.name}}</mat-chip>
            }
          </mat-chip-set>
        </mat-card-content>
        <mat-card-actions>
          @if (isAdmin) {<button matButton (click)="handleClickEdit(item)">Edit</button>}
          @if (isAdmin) {<button matButton (click)="handleClickDelete(item)">Delete</button>}
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    }
  </mat-grid-list>
  }

  @if (modalAddOpen) {
  <app-pet-form-modal [value]="selectedPet" (onClose)="modalAddOpen = false" (onSubmit)="addPet($event)">
  </app-pet-form-modal>
  }
  @if (modalEditOpen) {
  <app-pet-form-modal [value]="selectedPet" (onClose)="modalEditOpen = false" (onSubmit)="editPet($event)">
  </app-pet-form-modal>
  }
  @if(modalDeleteOpen) {
  <app-modal [(openModal)]="modalDeleteOpen" title="Delete confirmation"
    [description]="'Are sure want to delete ' + selectedPet.name + '?'">
    <div class="actions">
      <button mat-button (click)="modalDeleteOpen = false">Cancel</button>
      <button mat-raised-button color="primary" (click)="deletePet()">
        Confirm
      </button>
    </div>
  </app-modal>
  }

</div>